*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    gap: 20px;
    width: 100vw;
    background-color: yellow;
}
.Footer{
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    background-color: gray;
    text-align: center;
}
.restaurantLogo{
    width: 50vw;
    height: 20vh;
    display: block;
}
#dishFotoLabel{
    position: absolute;
    bottom: 20vh;
}
#dishFotoHolder{
    display: grid;
    grid-template-columns: 10vh 10vh;
    grid-row: 10vw 10vw;
    gap: 50px;
}
#dishFotoHolder > img{
    height: 10vh;
    width: 10vw;
}
.logoSection > img{
    position: relative;
    top: 2vh;
    left: 13vw;
    height: 7vh;
    width: 74vw;
}
.adSection{
    position: relative;
    top: 5vh;
}
.adSection > img{
    float: right;
    display: inline-block;
    margin: 2vw;
    width: 50vw;
    height: 20vh;
}
.adSection > p{
    position: relative;
    width: 96vw;
    height: 35vh;
    left: 2vw;
    font-size: 1.5rem;
}